*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #132529;
}


.container{
    width: 80%;
    max-width: 800px;
}

.misAjour{
    display: none
}

table {
    border: 1px solid;
    width: 100%;
}

thead{
 border: 1px solid #fff;
}

tr{
    border: 1px solid #fff;
}

th, td{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
}
